*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Raleway", sans-serif;
  color: #4f4f4f;
  font-weight: 400;
  line-height: 1.75; }

.container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: minmax(min-content, 9rem);
  grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end]; }

.intended {
  text-indent: 5rem;
  margin: 2rem 0; }

.wrapper {
  font-size: 1.5rem;
  font-weight: 300;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 7rem; }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      grid-template-columns: minmax(min-content, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 7rem; } }

.contact-form {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: min-content 1fr;
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .contact-form {
      grid-row: 2 / 3; } }

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  justify-items: start; }
  .form__group {
    display: grid;
    grid-template-columns: minmax(11rem, 15rem) minmax(min-content, 1fr);
    grid-template-rows: min-content;
    margin: .5rem 0; }
    .form__group textarea {
      resize: none;
      overflow: auto; }
  .form__input {
    width: 45rem;
    border: 1px solid #e5e5e5;
    font-size: 1.4rem;
    color: #4f4f4f;
    font-weight: 300;
    font-family: "Raleway", sans-serif; }
    @media only screen and (max-width: 68.75em) {
      .form__input {
        width: 34rem; } }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        width: 45rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__input {
        width: 30rem; } }
    @media only screen and (max-width: 25em) {
      .form__input {
        width: 100%; } }
    .form__input:required {
      box-shadow: none; }
    .form__input:focus {
      outline: none;
      background: rgba(229, 229, 229, 0.33);
      border: 1px solid #bcbcbc; }

.address {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: min-content 2.3fr .7fr;
  grid-row-gap: 3rem;
  font-family: "Fira Sans", sans-serif; }
  @media only screen and (max-width: 56.25em) {
    .address {
      grid-row: 1 / 2; } }
  .address__description {
    align-self: end;
    display: grid;
    grid-template-rows: repeat(4, min-content); }
  .address__postal {
    font-weight: 800;
    margin-bottom: 2rem; }
  .address__group {
    display: grid;
    grid-template-columns: minmax(min-content, 10rem) 1fr; }

#map {
  width: 100%;
  height: auto; }

.info {
  grid-column: center-start / center-end;
  margin: 5rem 0; }

.footer {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  background-color: #171717;
  color: #ffffff;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end]; }
  .footer__box {
    grid-column: center-start / center-end;
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: end; }
    @media only screen and (max-width: 37.5em) {
      .footer__box {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        justify-items: center; } }
  .footer__left {
    justify-self: start;
    align-self: end;
    font-size: 2.5rem;
    font-weight: 100; }
    @media only screen and (max-width: 37.5em) {
      .footer__left {
        grid-row: 2 / 3;
        justify-self: center; } }
  .footer__right {
    font-size: 3.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__right {
        grid-row: 1 / 2;
        margin-bottom: 3rem; } }
  .footer__greytext {
    color: #4f4f4f; }
  .footer__icon {
    height: 2rem;
    width: 2rem;
    border-radius: 2px;
    margin-right: 1rem; }

.header {
  grid-column: full-start / full-end;
  grid-row: 2 / 3;
  padding-bottom: 5rem;
  display: grid;
  grid-template-rows: 60rem 1fr;
  grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end]; }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-row: 1 / 3; } }
  .header__img {
    background-image: url(../img/header-bg1920.jpg);
    background-size: cover;
    background-position: center;
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end]; }
    @media only screen and (max-width: 50em) {
      .header__img {
        background-image: url(../img/header-bgcroped.jpg);
        background-position: right; } }
  .header__logo {
    grid-column: center-start / center-end;
    width: 24rem;
    padding-top: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        padding-top: 3rem; } }
    @media only screen and (max-width: 25em) {
      .header__logo {
        grid-column: full-start / full-end;
        width: 18rem;
        margin-left: 3rem; } }
  .header__content {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: minmax(min-content, 0.9fr) minmax(min-content, 1.2fr) minmax(min-content, 0.9fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4rem;
    align-items: stretch; }
    @media only screen and (max-width: 68.75em) {
      .header__content {
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: 3fr; } }

.header-others {
  grid-column: full-start / full-end;
  grid-row: 2 / 3;
  padding-bottom: 5rem;
  display: grid;
  grid-template-rows: 20rem min-content;
  grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end]; }
  @media only screen and (max-width: 37.5em) {
    .header-others {
      grid-row: 1 / 3; } }
  .header-others__img {
    background-image: url(../img/bg.jpg); }

.nav {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
  background-image: linear-gradient(#e5e5e5, #ffffff);
  border-bottom: 2px solid rgba(175, 198, 199, 0.7);
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end]; }
  @media only screen and (max-width: 50em) {
    .nav {
      grid-template-columns: [full-start] 4rem [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] 4rem [full-end]; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      background-image: linear-gradient(#e5e5e5, #ffffff);
      display: none; } }
  .nav__list {
    list-style: none;
    grid-column: center-start / center-end;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__item {
    display: inline-block; }
    .nav__item--active {
      background-color: #151515;
      color: #ffffff;
      border-radius: 0 0 1rem 1rem; }
    .nav__item--active .nav__link {
      color: #ffffff; }
  .nav__link {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border-radius: 0 0 1rem 1rem;
    padding: 3rem 2rem;
    color: #151515;
    font-size: 2.8rem; }
    .nav__link:hover {
      color: #ffffff;
      background-color: #151515;
      border-radius: 0 0 1rem 1rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__link {
        font-size: 2.2rem; } }

.mobile-nav {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .mobile-nav {
      display: inline-block; } }
  .mobile-nav__checkbox {
    display: none; }
  .mobile-nav__button {
    position: fixed;
    top: 3.5rem;
    right: 2rem;
    z-index: 2000;
    cursor: pointer; }
  .mobile-nav__box {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .2s;
    background-image: linear-gradient(#e5e5e5, rgba(255, 255, 255, 0.8));
    background-size: cover; }
  .mobile-nav__list {
    list-style: none;
    width: 100%;
    margin-top: 10rem; }
  .mobile-nav__item {
    margin-top: 1rem; }
    .mobile-nav__item:hover, .mobile-nav__item--active {
      background-color: #151515;
      color: #ffffff;
      border-radius: 1rem  0 0 1rem; }
    .mobile-nav__item:hover .mobile-nav__link,
    .mobile-nav__item--active .mobile-nav__link {
      color: #ffffff; }
  .mobile-nav__link {
    display: inline-block;
    padding: .8rem 3rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 2.2rem;
    font-family: "Raleway", sans-serif;
    color: #151515; }
  .mobile-nav__checkbox:checked ~ .mobile-nav__box {
    opacity: 1;
    width: 25rem; }
  .mobile-nav__icon {
    position: relative;
    margin-top: 2rem; }
    .mobile-nav__icon, .mobile-nav__icon::before, .mobile-nav__icon::after {
      width: 3.5rem;
      height: 2px;
      background-color: #151515;
      display: inline-block; }
    .mobile-nav__icon::before, .mobile-nav__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .mobile-nav__icon::before {
      top: -.8rem; }
    .mobile-nav__icon::after {
      top: .8rem; }
  .mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon {
    background-color: transparent; }
  .mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon::before {
    top: 0;
    left: 1.5rem;
    transform: rotate(135deg);
    width: 2.5rem; }
  .mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon::after {
    top: 0;
    left: 1.5rem;
    transform: rotate(-135deg);
    width: 2.5rem; }

.news__text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300; }

@media only screen and (max-width: 68.75em) {
  .news {
    margin-bottom: 3rem; } }

.procedures__box {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-areas: "head head" "img text";
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: start;
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 25em) {
    .procedures__box {
      grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
      grid-template-areas: "head head" "img img" "text text"; } }

.procedures__box:last-of-type {
  border-bottom: none;
  margin-top: 2rem; }

.procedures__heading {
  grid-area: head;
  margin-bottom: 1.5rem;
  justify-self: start; }

.procedures__img {
  grid-area: img;
  padding: 0.3rem;
  border: 2px solid #e5e5e5; }
  @media only screen and (max-width: 25em) {
    .procedures__img {
      grid-area: img;
      margin-bottom: 2rem;
      justify-self: start; } }

.procedures__description {
  grid-area: text;
  font-size: 1.5rem;
  font-weight: 300; }
  @media only screen and (max-width: 25em) {
    .procedures__description {
      grid-area: text; } }

@media only screen and (max-width: 68.75em) {
  .procedures {
    margin-bottom: 3.5rem; } }

.services .heading-fifth {
  color: #646464; }

.services__box {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  column-gap: 2rem;
  margin-bottom: 2rem;
  align-items: start; }

.services__img {
  width: 5rem;
  margin-right: 2rem;
  justify-self: start;
  margin-top: .5rem; }

.services__decription-text {
  font-size: 1.5rem;
  font-weight: 300; }

.about-procedures {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  background-color: #efefef;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end]; }
  .about-procedures__wrapper {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: 4rem; }
    @media only screen and (max-width: 50em) {
      .about-procedures__wrapper {
        grid-template-rows: 3fr;
        grid-template-columns: 1fr; } }
  .about-procedures__box {
    margin: 2rem;
    display: grid;
    grid-template-rows: 0.5fr 2fr .5fr; }
    @media only screen and (max-width: 50em) {
      .about-procedures__box {
        grid-template-rows: repeat(3, min-content); } }
  .about-procedures__text {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem 0; }
  .about-procedures__btn {
    justify-self: start; }

.add-info {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .add-info {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .add-info__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80%;
    margin-bottom: 5rem;
    background-color: #efefef;
    margin: 0 auto;
    padding: 5rem 7rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    overflow: scroll; }
    @media only screen and (max-width: 56.25em) {
      .add-info__content {
        height: 80vh; } }
    @media only screen and (max-width: 25em) {
      .add-info__content {
        padding: 5rem 3rem; } }
  .add-info__text {
    height: 80vh; }
    .add-info__text-empty {
      height: 6rem; }
  .add-info__img {
    width: 25rem;
    margin: 4rem 0; }
    @media only screen and (max-width: 25em) {
      .add-info__img {
        width: 20rem; } }
  .add-info:target {
    opacity: 1;
    visibility: visible; }
  .add-info:target .add-info__content {
    opacity: 1; }
  .add-info__close:link, .add-info__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 5rem;
    text-decoration: none;
    color: #646464;
    line-height: 1; }
  .add-info__close:hover {
    color: #2ccad4; }

.block1 {
  font-size: 1.5rem;
  font-weight: 300;
  grid-column: center-start  / center-end;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(max-content, 1fr);
  grid-column-gap: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .block1 {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr; } }

.consult {
  display: grid;
  grid-template-columns: minmax(min-content, 30rem) 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-column-gap: 2rem;
  justify-items: start; }
  @media only screen and (max-width: 68.75em) {
    .consult {
      grid-template-rows: repeat(6, min-content); } }
  .consult__main-heading {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: end; }
  .consult__img-box {
    grid-row: 2 / 4;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 37.5em) {
      .consult__img-box {
        grid-row: 2 / 4;
        grid-column: 1 / -1;
        margin-bottom: 2rem; } }
  .consult__img {
    object-fit: cover;
    width: 100%;
    border: 2px solid #e5e5e5; }
  .consult__small-heading {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 68.75em) {
      .consult__small-heading {
        grid-row: 4 / 5;
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 37.5em) {
      .consult__small-heading {
        margin-bottom: 2rem; } }
  .consult__text {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 68.75em) {
      .consult__text {
        grid-row: 5 / 6;
        grid-column: 1 / -1; } }
  .consult__text2 {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    margin-top: 2rem; }
    @media only screen and (max-width: 68.75em) {
      .consult__text2 {
        grid-row: 6 / 7;
        margin-top: 0; } }

.list {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 2rem;
  justify-items: start;
  align-items: end;
  justify-items: end; }
  @media only screen and (max-width: 37.5em) {
    .list {
      justify-items: start;
      margin-top: 3rem; } }
  .list__block {
    list-style: none; }
  .list__item::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
    background-color: #2ccad4; }

.block2 {
  grid-row: 3 / 4;
  background-color: #efefef;
  font-size: 1.5rem;
  font-weight: 300;
  grid-column: full-start  / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, 0.9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, 0.9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end]; }
  .block2__wrapper {
    margin: 4rem 0;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .block2__wrapper {
        grid-template-columns: 1fr; } }

.advantages {
  display: grid;
  grid-template-rows: repeat(4, min-content); }
  .advantages__text {
    margin: 1rem 0 3rem 0; }

.features {
  display: grid;
  grid-template-rows: min-content repeat(2, 1fr); }
  .features__box {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 3rem;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .features__box {
        align-items: start; } }
    @media only screen and (max-width: 37.5em) {
      .features__box {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr; } }
  .features__box:not(:last-child) {
    margin-bottom: 2rem; }
  .features__img {
    border: 2px solid #e5e5e5; }
    @media only screen and (max-width: 37.5em) {
      .features__img {
        grid-row: 2 / 3; } }
  @media only screen and (max-width: 37.5em) {
    .features__text {
      margin: 2rem 0; } }

.staff {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5rem;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem; }
  .staff__box {
    display: grid;
    grid-template-columns: min-content 2fr;
    grid-column-gap: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .staff__box {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 2fr;
        grid-row-gap: 3rem; } }
  .staff__img {
    border: 2px solid #e5e5e5; }
    @media only screen and (max-width: 25em) {
      .staff__img {
        width: 90%; } }
  .staff__description {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-columns: 3fr 1fr;
    justify-items: start;
    align-items: center; }
  .staff__heading {
    grid-column: 1 / 2; }
  .staff__icons-box {
    grid-column: 2 /3;
    justify-self: end; }
  .staff__icon {
    height: 2rem;
    width: 2rem;
    border-radius: 2px;
    margin-right: 1rem; }
  .staff__text {
    grid-column: 1 / -1; }

.therapies {
  grid-column: center-start / center-end;
  font-size: 1.5rem;
  font-weight: 300;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 3rem; }
  .therapies__wrapper {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 5rem; }
    @media only screen and (max-width: 25em) {
      .therapies__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }
  .therapies__box {
    margin-bottom: 3rem; }
  .therapies__img {
    border: 2px solid #e5e5e5;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 25em) {
      .therapies__img {
        width: 90%; } }
  .therapies__link:link, .therapies__link:visited {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }

.heading-first {
  font-size: 2.8rem;
  font-weight: 400; }

.heading-second {
  font-size: 2.5rem;
  font-weight: 400; }

.heading-third {
  font-size: 1.8rem;
  color: #2ccad4;
  font-weight: 300; }
  @media only screen and (max-width: 68.75em) {
    .heading-third {
      font-size: 2.5rem; } }

.heading-fourth {
  color: #2ccad4; }

.heading-fifth {
  color: #2ccad4;
  font-size: 1.5rem;
  text-decoration: underline;
  font-family: "Fira Sans", sans-serif;
  letter-spacing: .2rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.btn {
  color: #ffffff;
  background-color: #0dc2ce;
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  margin-top: 2rem; }
  .btn:hover {
    background-color: #2ccad4; }

.colortext {
  color: #2ccad4; }
