// COLOR VARIABLES

$color-primary: #2ccad4; //icons, buttons
$color-primary-light: #0dc2ce; //some text

$color-grey-light-1: #efefef; //blocks
$color-grey-light-2: #e5e5e5; //header from #e5e5e5 to #ffffff
$color-white: #ffffff;


$color-dark-1: #646464; //some text (phone)
$color-dark-2: #4f4f4f; //some text (phone)
$color-dark-3: #151515; //text
$color-dark-4: #171717; //footer



// FONT VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Fira Sans', sans-serif;

//MEDIA QUERIES BREAKPOINTS

$bp-largest: 75em; //1200px/16px=75 16px-дефолтное значение размера шрифта в браузера
$bp-large: 68.75em; // 1100px 
$bp-large-medium: 56.25em; //900px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-tiny: 25em; //400px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px(browser defoult) = 62.5% -> 1rem=10px
    
    @media only screen and(max-width: $bp-largest)  {
        font-size: 50%; //8px/16px=0.5 = 50%
    }
   
}

body {
    font-family: $font-primary;
    color: $color-dark-2;
    font-weight: 400;
    line-height: 1.75;
}


.container {
    margin: 0 auto;
    display: grid;
    grid-template-rows: minmax(min-content, 9rem);
    grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end];
}

.intended {
    text-indent: 5rem;
    margin: 2rem 0;
}
