.wrapper {
    font-size: 1.5rem;
    font-weight: 300;
    grid-column: center-start / center-end;
    
    
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 7rem;
    
    @media only screen and (max-width: $bp-large-medium) {
        grid-template-columns: minmax(min-content, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 7rem;
    }
    
}

.contact-form {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: min-content 1fr;
    grid-row-gap: 3rem;
    
    @media only screen and (max-width: $bp-large-medium){
        grid-row: 2 / 3;
    }
    
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    justify-items: start;
    
    
    &__group {
        display: grid;
        grid-template-columns: minmax(11rem, 15rem) minmax(min-content, 1fr);
        grid-template-rows: min-content;
        margin: .5rem 0;
        
        & textarea {
            resize: none;
            overflow: auto;
        }
    }
    
    &__input {
        width: 45rem;
        border: 1px solid $color-grey-light-2;
        font-size: 1.4rem;
        color: $color-dark-2;
        font-weight: 300;
        font-family: $font-primary;
        
        @media only screen and (max-width: $bp-large) {
            width: 34rem;
        }
        
        @media only screen and (max-width: $bp-large-medium) {
            width: 45rem;
        }
        
        @media only screen and (max-width: $bp-small) {
            width: 30rem;
        }
        
         @media only screen and (max-width: $bp-tiny) {
            width: 100%;
        }
        
        &:required {
            box-shadow: none;
        }
        
        &:focus {
            outline: none;
            background: rgba($color-grey-light-2, 0.33);
            border: 1px solid #bcbcbc;
        }
    }
}

.address {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: min-content 2.3fr .7fr;
    grid-row-gap: 3rem;
    
    font-family: $font-secondary;
    
    @media only screen and (max-width: $bp-large-medium){
        grid-row: 1 / 2;
    }
    
    &__description {
        align-self: end;
        display: grid;
        grid-template-rows: repeat(4, min-content);
    }
    
    &__postal {
       font-weight: 800;
        margin-bottom: 2rem;
    }
    
    &__group {
        display: grid;
        grid-template-columns: minmax(min-content, 10rem) 1fr;
    }
    
}
#map {
    width: 100%;
    height: auto;
}


.info {
    grid-column: center-start / center-end;
    margin: 5rem 0;
}


















