.footer {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    background-color: $color-dark-4;
    color: $color-white;
    padding: 4rem 0;
    
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] minmax(2rem, .5fr) [full-end];
    
    &__box {
        grid-column: center-start / center-end;
        font-family: $font-secondary;
        font-weight: 100;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        justify-items: end; 
        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;    
            justify-items: center; 
        }
    }
    
    &__left {
       justify-self: start;
        align-self: end;
        font-size: 2.5rem;
        font-weight: 100;
        
        @media only screen and (max-width: $bp-small) {
            grid-row:  2 / 3;
            justify-self: center;
        }
    }
    
    &__right {
        font-size: 3.5rem;
        
        
        @media only screen and (max-width: $bp-small) {
            grid-row: 1 / 2;
            margin-bottom: 3rem;
        }
    }
    
    &__greytext {
        color: $color-dark-2;
    }
    
    &__icon {
        height: 2rem;
        width: 2rem;
        border-radius: 2px;
        margin-right: 1rem;
    }
}
