//Page About us

.header {
    
    grid-column: full-start / full-end;
    grid-row: 2 / 3;
    padding-bottom: 5rem;
    
    display: grid;
    grid-template-rows: 60rem 1fr;
    grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] minmax(2rem, .5fr) [full-end];
    
    @media only screen and(max-width: $bp-small) { // disable for mobile-nav
        grid-row: 1 / 3;

    }
    
    &__img {
        background-image: url(../img/header-bg1920.jpg);
        background-size: cover;
        background-position: center;
        
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
        
        display: grid;
        grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] minmax(2rem, .5fr) [full-end];
        
        @media only screen and (max-width: $bp-medium) {
            background-image: url(../img/header-bgcroped.jpg);
            background-position: right;
            
        }
        
        
    }
    
    &__logo {
        grid-column: center-start / center-end;
        width: 24rem;
        padding-top: 6rem;
        
        @media only screen and(max-width: $bp-small) { // disable for mobile-nav
            padding-top: 3rem;

        }
        
        @media only screen and (max-width: $bp-tiny) {
            grid-column: full-start / full-end;
            width: 18rem;
            margin-left: 3rem;
            
        }
    }
    
    &__content {
        grid-column: center-start / center-end;
        grid-row: 2 / 3;
        
        display: grid;
        grid-template-columns: minmax(min-content, .9fr) minmax(min-content, 1.2fr) minmax(min-content, .9fr);
        grid-template-rows: 1fr;
        grid-column-gap: 4rem;
        align-items: stretch;
        
        @media only screen and(max-width: $bp-large)  {
            
            grid-template-columns: minmax(min-content, max-content);
            grid-template-rows: 3fr;
            
        }
    }
}

//Pages different from About us

.header-others {
    grid-column: full-start / full-end;
    grid-row: 2 / 3;
    padding-bottom: 5rem;
    
    display: grid;
    grid-template-rows: 20rem min-content;
    grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] minmax(2rem, .5fr) [full-end];
    
    @media only screen and(max-width: $bp-small) { // disable for mobile-nav
        grid-row: 1 / 3;

    }
    
    &__img {
        background-image: url(../img/bg.jpg);
    }
}
























