.nav {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    background-image: linear-gradient($color-grey-light-2, $color-white);
    border-bottom: 2px solid rgba(175, 198, 199, 0.7);
    
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] minmax(2rem, 0.5fr) [full-end];
        
    @media only screen and(max-width: $bp-medium) {
        grid-template-columns: [full-start] 4rem [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] 4rem [full-end];
    }
    
    @media only screen and(max-width: $bp-small) { // disable for mobile-nav
        background-image: linear-gradient($color-grey-light-2, $color-white);
        display: none;

    }
    
    &__list {
        list-style: none;
        grid-column: center-start / center-end;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    &__item {
        display: inline-block;

        &--active {
            background-color: $color-dark-3;
            color: $color-white;
            border-radius: 0 0 1rem 1rem;
        }

        &--active .nav__link {
            color: $color-white;
        }
        
    }
    
    &__link {
        display: inline-block;
        text-decoration: none;
        background-color: transparent;
        border-radius: 0 0 1rem 1rem;
        padding: 3rem 2rem;
        color: $color-dark-3;
        font-size: 2.8rem;
        
        &:hover {
            color: $color-white;
            background-color: $color-dark-3;
            border-radius: 0 0 1rem 1rem;
        }
        
        @media only screen and(max-width: $bp-large-medium) {//900px
            font-size: 2.2rem;
        }
    }
}

// MOBILE NAVIGATION

.mobile-nav {
    display: none; //disable during the desktop version
    
    @media only screen and(max-width: $bp-small) { // enable during mobile version (small = 600px)
        display: inline-block;
        
    }
    
    &__checkbox {  // <input> class="mobile-nav__checkbox" id="navi-toggle"
       display: none; 
    }
    
    &__button { // <label> for navi-toggle (input)
        position: fixed;
        top: 3.5rem;
        right: 2rem;
        z-index: 2000;
        cursor: pointer;
    }
    
    
    &__box { // Block with ul inside it. Initially has opacity 0 and width 0, when checkbox:checked opacity will become 1, and width will become 25rem
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .2s;
        background-image: linear-gradient(rgba(229, 229, 229, 1), rgba(255, 255, 255, 0.8));
        background-size: cover; 
    }
    
    &__list {
        list-style: none;
        width: 100%;
        margin-top: 10rem;
    }
    
    &__item {
        margin-top: 1rem;
        
        &:hover,
        &--active {
            background-color: $color-dark-3;
            color: $color-white;
            border-radius: 1rem  0 0 1rem;
        }
        &:hover .mobile-nav__link,
        &--active .mobile-nav__link {
            color: $color-white;
        }
    }
    
    
    
    &__link { 
         display: inline-block;
            padding: .8rem 3rem;
            margin-bottom: 1rem;
            text-decoration: none;
            font-size: 2.2rem;
            font-family:  $font-primary; 
            color: $color-dark-3;
    }
   
    
    //FUNCTIONALITY


    &__checkbox:checked ~ &__box {
        opacity: 1;
        width: 25rem;
    }
    
    //ICON
    

    &__icon { // span-element inside  <label for="navi-toggle" class="mobile-nav__button"> &nbsp; - empty space. Because of width and height it became the line. Because of ::after and ::before there are three lines.
        position: relative;
        margin-top: 2rem;

        &,
        &::before,
        &::after {
            width: 3.5rem;
            height: 2px;
            background-color: $color-dark-3;
            display: inline-block;
        }
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }

    }
    
    &__checkbox:checked + &__button &__icon { // + adjacent sibling selector
        background-color: transparent; //the line in the middle disappeared
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        left: 1.5rem;
        transform: rotate(135deg); //the lines (above and under) are rotated and became a cross
         width: 2.5rem;
        
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        left: 1.5rem;
        transform: rotate(-135deg);
         width: 2.5rem;
    }
}

