.block1{//block1 - block inside of the header
    font-size: 1.5rem;
    font-weight: 300;
    grid-column: center-start  / center-end;
    
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(max-content, 1fr);
    grid-column-gap: 4rem;
    
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr; 
        grid-template-rows: 2fr;
    }
}

.consult {
    display: grid;
    grid-template-columns: minmax(min-content, 30rem) 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-column-gap: 2rem;
    justify-items: start; 
    
    @media only screen and (max-width: $bp-large) {
        grid-template-rows: repeat(6, min-content);
        
    }
    

    &__main-heading {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        align-self: end;
        
        
    }
    &__img-box {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        
        @media only screen and (max-width: $bp-small) {
            grid-row: 2 / 4;
            grid-column: 1 / -1;
            margin-bottom: 2rem;
        }
    }
    
    &__img {
        object-fit: cover;
        width: 100%;
        border: 2px solid $color-grey-light-2;

    }
    &__small-heading {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        
        @media only screen and (max-width: $bp-large) {
            grid-row: 4 / 5;
            grid-column: 1 / -1;
        }
        
        @media only screen and (max-width: $bp-small) {
            margin-bottom: 2rem;
        }
    }

    &__text {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        
        @media only screen and (max-width: $bp-large) {
            grid-row: 5 / 6;
            grid-column: 1 / -1;
        }
    }

    &__text2 {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        margin-top: 2rem;
        
        @media only screen and (max-width: $bp-large) {
            grid-row: 6 / 7;
            margin-top: 0;
        }
    }
}

.list {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-column-gap: 2rem;
    justify-items: start; 
    align-items: end;
    justify-items: end;
    
    @media only screen and (max-width: $bp-small) {
        justify-items: start;
        margin-top: 3rem;
    }
    
    &__block {
        list-style: none;
    }
    
    
    &__item::before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        margin-right: 1rem;
        height: 1rem;
        width: 1rem;
        background-color: $color-primary;
    }
}

.block2 {
    grid-row: 3 / 4;
    background-color: $color-grey-light-1;
    font-size: 1.5rem;
    font-weight: 300;
    grid-column: full-start  / full-end;
    
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] minmax(2rem, .5fr) [full-end];
    
    
    &__wrapper {
        margin: 4rem 0;
        grid-column: center-start / center-end;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        
        @media only screen and (max-width: $bp-large-medium) {
            grid-template-columns: 1fr;
        }
    }
}

.advantages {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    
    &__text {
        margin: 1rem 0 3rem 0;
    }
    
    
}

.features {
    display: grid;
    grid-template-rows: min-content repeat(2, 1fr); 
    
    
    &__box {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 3rem;
        align-items: center;
        
        @media only screen and (max-width: $bp-large-medium) {
            align-items: start;
        }
        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
        }
    }
    
    &__box:not(:last-child) {
        margin-bottom: 2rem;
    }
    
    &__img {
        border: 2px solid $color-grey-light-2;
        
        @media only screen and (max-width: $bp-small) {
            grid-row: 2 / 3;
        }
    }
    
    &__text {
        @media only screen and (max-width: $bp-small) {
            margin: 2rem 0;    
        }
    }
    
}
















