.staff {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5rem;
    grid-column: center-start / center-end;
    
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 5rem;
    
    &__box {
        display: grid;
        grid-template-columns: min-content 2fr;
        grid-column-gap: 3rem;
        
        @media only screen and (max-width: $bp-large-medium) {
            grid-template-columns: 1fr;
            grid-template-rows: min-content 2fr;
            grid-row-gap: 3rem;
        }
        
    }
    &__img {
        border: 2px solid $color-grey-light-2;
        
        @media only screen and (max-width: $bp-tiny) {
            width: 90%;
        }
    }
    
    
    &__description {
        display: grid;
        grid-template-columns: repeat(4, min-content);
        grid-template-columns: 3fr 1fr;
        justify-items: start; 
        align-items: center;
    }
    
    &__heading {
        grid-column: 1 / 2;
    }
    
    &__icons-box {
        grid-column: 2 /3;
        justify-self: end; 
    }
    
    &__icon {
        height: 2rem;
        width: 2rem;
        border-radius: 2px;
        margin-right: 1rem;
    }
    
    &__text {
        grid-column: 1 / -1;
    }
}