


.news {
    
    &__text {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    @media only screen and(max-width: $bp-large)  {
        margin-bottom: 3rem;
    }
}

.procedures {
    
    
    &__box {
       display: grid;
        grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
        grid-template-areas: "head head"
                            "img text";
        grid-column-gap: 2rem;
        justify-items: center;
        align-items: start;
        
        border-bottom: 2px solid $color-grey-light-2;
        padding-bottom: 2rem;  
        
        @media only screen and (max-width: $bp-tiny) {
            grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
            grid-template-areas: "head head"
                                 "img img"
                                "text text";
        }
    }
    
    &__box:last-of-type {
        border-bottom: none;
        margin-top: 2rem;
    }
    &__heading {
        grid-area: head;
        margin-bottom: 1.5rem;
        justify-self: start; 
            
        
    }
    
    &__img {
        grid-area: img;
        padding: 0.3rem;
        border: 2px solid $color-grey-light-2;
        
        @media only screen and (max-width: $bp-tiny) {
            grid-area: img;
            margin-bottom: 2rem;
            justify-self: start;
        }
    }
    
    &__description{
        grid-area: text;
        font-size: 1.5rem;
        font-weight: 300;
        
        @media only screen and (max-width: $bp-tiny) {
            grid-area: text;
        }
    }
    
    @media only screen and(max-width: $bp-large)  {
        margin-bottom: 3.5rem;
    }
}

.services {
    & .heading-fifth {
        color: $color-dark-1;    
    }
    
    &__box {
       display: grid;
        grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
        column-gap: 2rem;
        margin-bottom: 2rem;
        align-items: start;
    }
    
    &__img {
        width: 5rem;
        margin-right: 2rem;
        justify-self: start; 
        margin-top: .5rem;
    }
    
    &__decription-text {
        font-size: 1.5rem;
        font-weight: 300;
    }
}

.about-procedures {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    background-color: $color-grey-light-1;
    padding: 4rem 0;
    
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 0.5fr) [center-start col1-start] minmax(min-content, .9fr) [col1-end col2-start] minmax(min-content, 1.2fr) [col2-end col3-start] minmax(min-content, .9fr) [col3-end center-end] minmax(2rem, .5fr) [full-end];
    
    
    &__wrapper {
        grid-column: center-start / center-end;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-column-gap: 4rem;
        
        @media only screen and(max-width: $bp-medium) {
            grid-template-rows: 3fr;
            grid-template-columns: 1fr;
        }
        
    }
    
    &__box {
        margin: 2rem;    
        display: grid;
        grid-template-rows: 0.5fr 2fr .5fr;
        
        @media only screen and(max-width: $bp-medium) {
            grid-template-rows: repeat(3, min-content);
        }
    }
    
    &__text {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 2rem 0;
    }
    
    &__btn {
        justify-self: start;
    }
}



.add-info {
    position: fixed;
    top: 0;
	left: 0;
    height: 100vh;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    z-index: 100;
    backdrop-filter: blur(10px);
    background-color: rgba(#000, 0.6);
    opacity: 0;
	visibility: hidden;
    
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(#000, 0.3);
    }
    
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80vh;
        width: 80%;
        margin-bottom: 5rem;
        background-color: rgba($color-grey-light-1, 1);
        margin: 0 auto;
        padding: 5rem 7rem;
        box-shadow: 0 2rem 4rem rgba(#000, .2);
		border-radius: 3px;
        opacity: 0;
        overflow: scroll;
        
        @media only screen and (max-width: $bp-large-medium) {
            height: 80vh;
        }
        
        @media only screen and (max-width: $bp-tiny) {
            padding: 5rem 3rem;
        }
    }
    
    &__text {
        height: 80vh;
        
        &-empty {
            height: 6rem;
        }
    }
    
    &__img {
        width: 25rem;
        margin: 4rem 0;
        
        @media only screen and (max-width: $bp-tiny) {
            width: 20rem;
        }
    }
    
    &:target {
        opacity: 1;
	    visibility: visible;
    }
    
    &:target &__content {
		opacity: 1;
	}
    
    &__close {
		&:link,
		&:visited {
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 5rem;
			text-decoration: none;
			color: $color-dark-1;
			line-height: 1;
		}
		
		&:hover {
			color: $color-primary;
		}
	}
}























