.therapies {
    grid-column: center-start / center-end;
    font-size: 1.5rem;
    font-weight: 300;
    
    display: grid;
    grid-template-rows: repeat(2, min-content);
    
    grid-gap: 3rem;
    
    
    &__wrapper {
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-gap: 5rem;
        
        @media only screen and (max-width: $bp-tiny) {
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        }
    }
    
    &__box {
        margin-bottom: 3rem;
    }
    
    &__img {
        border: 2px solid $color-grey-light-2;
        margin-bottom: 3rem;
        
         @media only screen and (max-width: $bp-tiny) {
            width: 90%;
        }
    }
    
    &__link:link,
    &__link:visited {
        cursor: pointer;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    
}
