.heading-first {
    font-size: 2.8rem;
    font-weight: 400;
}
.heading-second {
    font-size: 2.5rem;
    font-weight: 400;
}

.heading-third {
    font-size: 1.8rem;
    color: $color-primary;
    font-weight: 300;
    
    @media only screen and(max-width: $bp-large)  {
        font-size: 2.5rem;

    }
}
.heading-fourth {
    color: $color-primary; 
}
.heading-fifth {
    color: $color-primary;
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: $font-secondary;
    letter-spacing: .2rem;
}

.mb-sm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 3rem;}
.mb-lg {margin-bottom: 4rem;}
.mb-hg {margin-bottom: 8rem;}

.btn {
    color: $color-white;
    background-color: $color-primary-light;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
    
    &:hover {
        background-color: $color-primary;
    }
}


.colortext {
   color: $color-primary; 
}